.nav{
  position: absolute;
  width: 100%;
  height: 140px;
  left: 0px;
  top: 0px;
  background-color: #292929;
  z-index: 2;
}
.my-text{
  box-sizing: border-box;
  position: absolute;
  width: 193px;
  height: 60px;
  left: 77px;
  top: 40px;

  border: 1px solid #FFFFFF;
}
.my-text-text{
  position: absolute;
  width: 156.7px;
  height: 32.94px;
  font-size:xx-large;
  left: 96px;
  top: 54px;
  color: #FFFFFF;
}
.img-bg{
  background-image: url('./assets/images/back-img.png');
  background-repeat: no-repeat;
  /* background-color: #eb1f1f; */
  /* background-attachment: fixed; */
  background-position: -50px 0 0 0;
  /* background-position: center; */
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 550px;
  left: 0px;
  top: 120px;

}
.home-text{
  position: absolute;
  width: 490px;
  height: 282px;
  left: 77px;
  top: 247px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  /* background-color: #292929; */
}
.search-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  /* width: 1306px; */
  height: 89px;
  left: 77px;
  right: 77px;
  top: 751px;
  /* background-color: #292929; */
}
.label{
  width: 77px;
  height: 31px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.input-search{
  width: 100%;
  height: 54px;
  border: 1px solid #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.movies{
  position: absolute;
  /* width: 100%; */
  /* height: 31px; */
  left: 67px;
  right: 67px;
  top: 888px;
  /* background-color: aqua; */
}
.cat-label{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.movie-frame{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;

  position: absolute;
  width: 100%;
  /* height: 300px; */
  left: 0px;
  overflow-x: auto;
  /* top: 937px; */
}

.card{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 300px;
  height: 300px;
  background: #000000;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 300px;
  height: 300px
}
.card > img{
  height:100%;
  margin: auto;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(234, 200, 200, 0.3);
  z-index: 8;
}
.loader > img{
  position: relative;
  top: 50%;
  left: 50%;
  width: 40px
}


@media screen and (max-width: 768px) {
  .my-text{
    box-sizing: border-box;

    position: absolute;
    width: 193px;
    height: 60px;
    left: 321px;
    top: 40px;

    border: 1px solid #FFFFFF;
  }
  .my-text-text{
    position: absolute;
    width: 156.7px;
    height: 32.94px;
    left: 340px;
    top: 54px;
  }
  .home-text{
    position: absolute;
    width: 490px;
    height: 282px;
    left: 172px;
    top: 247px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 94px;
    text-align: center;
    letter-spacing: -0.05em;
  }
}

@media screen and (max-width: 375px){
  .nav{
    position: absolute;
    width: 100%;
    height: 67px;
    left: 0px;
    top: 0px;
  }
  .my-text{
    box-sizing: border-box;
    position: absolute;
    width: 108px;
    height: 33.58px;
    left: 135px;
    top: 16px;
  }
  .my-text-text{
    position: absolute;
    width: 87.68px;
    height: 18.43px;
    left: 150px;
    top: 23.83px;
    font-size:medium
  }
  .img-bg{
    background-image: url('./assets/images/back-img.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 257px;
    left: 0px;
    top: 57px;
  }
  .search-box{
    /* width: 265px; */
    height: 59px;
    left: 28px;
    top: 380px;
  }
  .label{
    font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  }
  .input-search{
    height: 34px;

    border: 1px solid #000000;
  }
  .movies{
    top: 472px
  }
  .home-text{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 273px;
    height: 72px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.05em;
  }
}